<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.facially">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Facially">
        <activity
            android:name=".DaeActivity"
            android:exported="false" />
        <activity
            android:name=".color.FaceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LandmarkFActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PreviewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FbxActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LandmarkActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>